.model1 {
  padding-bottom: 100px;
}

.model1_box {
  background-color: var(--primary-rgba1);
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.model1_box_img {
  font-size: 0;
}

.model1_box_img img {
  width: 600px;
  height: 100%;
  object-fit: cover;
}

.model1_box_text {
  width: 100%;
  padding: 30px 20px;
  color: var(--text8-color);
  font-size: 14px;
  line-height: 2;
  word-break: break-all;
  hyphens: auto;
}

.orderProcessing {
  padding-bottom: 100px;
}

.orderProcessing_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.orderProcessing_box_left {
  width: 450px;
}

.orderProcessing_box_left_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.orderProcessing_box_left_title_shippingLocation,
.orderProcessing_box_left_title_receivingLocation {
  font-size: 14px;
  font-weight: 600;
  color: var(--text8-color);
}

.orderProcessing_box_left_title_receivingLocation {
  text-align: right;
}

.orderProcessing_box_left_title_shippingLocation_time,
.orderProcessing_box_left_title_receivingLocation_time {
  font-size: 14px;
  font-weight: 500;
  color: var(--text6-color);
  margin-top: 15px;
}

.orderProcessing_box_left_step {
  width: 100%;
  position: relative;
  margin-top: 40px;
  border-bottom: 2px solid #e5e5e5;
  z-index: 0;
}

.orderProcessing_box_left_step::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  z-index: 1;
}

.orderProcessing_box_left_step::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
}

.orderProcessing_box_left_step_start {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
}

.orderProcessing_box_left_step_start::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  z-index: 2;
}

.orderProcessing_box_left_list {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
}

.orderProcessing_box_left_list_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.orderProcessing_box_left_list_item_serialNumber {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  background-color: aliceblue;
  position: relative;
}

.orderProcessing_box_left_list_item .active {
  background-color: var(--primary-color);
  color: #fff;
}

.orderProcessing_box_left_list_item_serialNumber::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 49%;
  width: 2px;
  height: 30px;
  background-color: var(--primary-color);
  /* z-index: 2; */
}

.orderProcessing_box_left_list_item:last-child {
  margin-bottom: 0;
}

.orderProcessing_box_left_list_item:last-child .orderProcessing_box_left_list_item_serialNumber::after {
  display: none;

}

.orderProcessing_box_left_list_item_title {
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderProcessing_box_left_list_item_title_text {
  font-size: 14px;
  font-weight: 600;
  color: var(--text8-color);
  margin-bottom: 10px;
}

.orderProcessing_box_left_list_item_right {
  display: flex;
  align-items: center;
}

.orderProcessing_box_left_list_item_right_icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.orderProcessing_box_left_list_item_right_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.orderProcessing_box_left_list_item_right_text {
  font-size: 14px;
  font-weight: 600;
}

.orderProcessing_box_right {
  width: 580px;
}

.orderProcessing_box_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1199px) {

  .model1_box {
    width: calc(100% - 3rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: .6rem;
  }

  .model1_box_img {
    font-size: 0;
    width: 100%;
  }

  .model1_box_img img {
    width: 100%;
    height: 20rem;
  }

  .model1_box_text {
    width: calc(100% - 3rem);
    padding: 1.5rem 0;
    font-size: 1rem;
  }

  .orderProcessing {
    padding-bottom: 3rem;
  }

  .orderProcessing_box {
    flex-direction: column-reverse;
  }

  .orderProcessing_box_left {
    width: calc(100% - 3rem);
    margin: 0 auto;
  }

  .orderProcessing_box_left_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .orderProcessing_box_left_title_shippingLocation,
  .orderProcessing_box_left_title_receivingLocation {
    font-size: 1.2rem;
  }

  .orderProcessing_box_left_title_shippingLocation_time,
  .orderProcessing_box_left_title_receivingLocation_time {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .orderProcessing_box_left_step {
    margin-top: 2rem;
  }

  .orderProcessing_box_left_step::before,
  .orderProcessing_box_left_step::after {
    top: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .orderProcessing_box_left_step_start::after {
    right: 0px;
    top: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .orderProcessing_box_left_list {
    margin-top: 3rem;
  }

  .orderProcessing_box_left_list_item {
    margin-bottom: 3rem;
  }

  .orderProcessing_box_left_list_item_serialNumber {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .orderProcessing_box_left_list_item_serialNumber::after {
    top: 3.2rem;
    height: 2.5rem;
  }



  .orderProcessing_box_left_list_item_title {
    margin-left: 1.5rem;
  }

  .orderProcessing_box_left_list_item_title_text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .orderProcessing_box_left_list_item_right {
    display: flex;
    align-items: center;
  }

  .orderProcessing_box_left_list_item_right_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  .orderProcessing_box_right {
    width: calc(100% - 3rem);
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 480px) {

  .model1_box_text {
    width: calc(100% - 3rem);
    padding: 1.5rem 0;
    font-size: 1.3rem;
  }
}