.white:nth-child(odd) {
  background-color: var(--grey-color);
}

.supplychainItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 100px;
}

.white:nth-child(odd) .supplychainItem {
  flex-direction: row-reverse;
}

.supplychainItem_img {
  font-size: 0;
}

.supplychainItem_img img {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.supplychainItem_content {
  width: 540px;
}

.supplychainItem_content_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

.supplychainItem_content_desc {
  font-size: 14px;
  color: var(--text6-color);
  line-height: 1.5;
  hyphens: auto;
}

@media screen and (max-width: 1199px) {

  .supplychainItem {
    padding-bottom: 3rem;
    width: calc(100% - 3rem);
  }

  .supplychainItem_img {
    width: 50%;
  }

  .supplychainItem_img img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: .6rem;
  }

  .supplychainItem_content {
    width: 45%;
  }

  .supplychainItem_content_title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .supplychainItem_content_desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {

  .supplychainItem_content_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .supplychainItem_content_desc {
    font-size: 1.2rem;
  }
}